agutidesigns-web/n8n/workflow-scraping-clinicas.json
{
  "name": "AgutiDesigns — Scraping Clínicas Dentales",
  "nodes": [
    {
      "parameters": {},
      "id": "sc-0001-0001-0001-0001-000000000001",
      "name": "▶️ Ejecutar manualmente",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// ─── CONFIGURA AQUÍ ──────────────────────────────────────────\n// Pon tu Google Places API Key en las Variables de n8n:\n//   Settings → Variables → GOOGLE_PLACES_KEY\n// O directamente aquí como string (no recomendado para producción)\n\nconst ciudades = [\n  'Barcelona',\n  'Madrid',\n  'Sevilla',\n  'Valencia'\n];\n\nconst terminos = [\n  'clínica dental',\n  'dentista',\n  'odontología'\n];\n\n// Genera todas las combinaciones ciudad × término\nconst busquedas = [];\nfor (const ciudad of ciudades) {\n  for (const termino of terminos) {\n    busquedas.push({\n      json: {\n        ciudad,\n        query: `${termino} ${ciudad}`,\n        apiKey: $vars.GOOGLE_PLACES_KEY || 'TU_API_KEY_AQUI'\n      }\n    });\n  }\n}\n\nreturn busquedas;"
      },
      "id": "sc-0002-0002-0002-0002-000000000002",
      "name": "⚙️ Configurar búsquedas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/place/textsearch/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query",    "value": "={{ $json.query }}" },
            { "name": "language", "value": "es" },
            { "name": "region",   "value": "es" },
            { "name": "key",      "value": "={{ $json.apiKey }}" }
          ]
        },
        "options": { "response": { "response": { "fullResponse": false } } }
      },
      "id": "sc-0003-0003-0003-0003-000000000003",
      "name": "🔍 Places Text Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [720, 300]
    },
    {
      "parameters": {
        "jsCode": "// Aplanamos los resultados y añadimos paginación (hasta 3 páginas = 60 resultados por búsqueda)\nconst results = [];\nconst items = $input.all();\n\nfor (const item of items) {\n  const data = item.json;\n  const places = data.results || [];\n  const ciudad = item.pairedItem ? items[item.pairedItem.item]?.json?.ciudad : 'Desconocida';\n\n  for (const place of places) {\n    results.push({\n      json: {\n        place_id:    place.place_id,\n        nombre:      place.name,\n        direccion:   place.formatted_address || '',\n        valoracion:  place.rating || null,\n        n_resenas:   place.user_ratings_total || 0,\n        ciudad:      place.plus_code?.compound_code?.split(' ').slice(1).join(' ') || ciudad,\n        apiKey:      data._apiKey || $('⚙️ Configurar búsquedas').first().json.apiKey\n      }\n    });\n  }\n}\n\n// Deduplica por place_id\nconst seen = new Set();\nconst unique = results.filter(r => {\n  if (seen.has(r.json.place_id)) return false;\n  seen.add(r.json.place_id);\n  return true;\n});\n\nreturn unique.length > 0 ? unique : [{ json: { _skip: true } }];"
      },
      "id": "sc-0004-0004-0004-0004-000000000004",
      "name": "🧹 Extraer y deduplicar lugares",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "filter-skip",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "sc-0005-0005-0005-0005-000000000005",
      "name": "🚦 ¿Tiene place_id?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/place/details/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "place_id", "value": "={{ $json.place_id }}" },
            { "name": "fields",   "value": "name,formatted_address,formatted_phone_number,website,rating,user_ratings_total,editorial_summary" },
            { "name": "language", "value": "es" },
            { "name": "key",      "value": "={{ $json.apiKey }}" }
          ]
        }
      },
      "id": "sc-0006-0006-0006-0006-000000000006",
      "name": "📋 Places Details API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst place = item.json.result || {};\nconst prev  = $('🚦 ¿Tiene place_id?').first().json;\n\nreturn [{\n  json: {\n    place_id:   prev.place_id,\n    ciudad:     prev.ciudad,\n    nombre:     place.name || prev.nombre,\n    direccion:  place.formatted_address || prev.direccion,\n    telefono:   place.formatted_phone_number || '',\n    web:        place.website || '',\n    valoracion: place.rating || prev.valoracion,\n    n_resenas:  place.user_ratings_total || prev.n_resenas,\n    resumen:    place.editorial_summary?.overview || '',\n    email:      '',\n    apiKey:     prev.apiKey\n  }\n}];"
      },
      "id": "sc-0007-0007-0007-0007-000000000007",
      "name": "📝 Normalizar datos del lugar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "has-web",
              "leftValue": "={{ $json.web }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "sc-0008-0008-0008-0008-000000000008",
      "name": "🌐 ¿Tiene web?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1920, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.web }}",
        "options": {
          "timeout": 10000,
          "response": { "response": { "fullResponse": true, "neverError": true } }
        }
      },
      "id": "sc-0009-0009-0009-0009-000000000009",
      "name": "🌍 Visitar web",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2160, 200]
    },
    {
      "parameters": {
        "jsCode": "const html = $input.first().json.data || $input.first().json.body || '';\nconst prev  = $('🌐 ¿Tiene web?').first().json;\n\n// Regex para encontrar emails (ignora imágenes, iconos, etc.)\nconst emailRegex = /[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}/g;\nconst blacklist  = ['noreply', 'no-reply', 'donotreply', 'example', 'yourdomain',\n                    'sentry', 'wixpress', 'squarespace', '.png', '.jpg', '.gif'];\n\nconst found = [...new Set((html.match(emailRegex) || []))]\n  .filter(e => !blacklist.some(b => e.toLowerCase().includes(b)))\n  .filter(e => e.length < 80);\n\nconst email = found[0] || '';\n\nreturn [{\n  json: {\n    ...prev,\n    email,\n    emails_encontrados: found.slice(0, 5),\n    fuente_email: email ? 'homepage' : ''\n  }\n}];"
      },
      "id": "sc-0010-0010-0010-0010-000000000010",
      "name": "📧 Extraer email del HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "no-email",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "sc-0011-0011-0011-0011-000000000011",
      "name": "❓ ¿Falta email?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [2640, 200]
    },
    {
      "parameters": {
        "url": "={{ $json.web.replace(/\\/$/, '') }}/contacto",
        "options": {
          "timeout": 8000,
          "response": { "response": { "fullResponse": true, "neverError": true } }
        }
      },
      "id": "sc-0012-0012-0012-0012-000000000012",
      "name": "📞 Visitar /contacto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2880, 200]
    },
    {
      "parameters": {
        "jsCode": "const html = $input.first().json.data || $input.first().json.body || '';\nconst prev  = $('❓ ¿Falta email?').first().json;\n\nconst emailRegex = /[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}/g;\nconst blacklist  = ['noreply', 'no-reply', 'donotreply', 'example', 'yourdomain', 'sentry'];\n\nconst found = [...new Set((html.match(emailRegex) || []))]\n  .filter(e => !blacklist.some(b => e.toLowerCase().includes(b)))\n  .filter(e => e.length < 80);\n\nconst email = found[0] || '';\n\nreturn [{\n  json: {\n    ...prev,\n    email,\n    fuente_email: email ? 'pagina_contacto' : 'no_encontrado'\n  }\n}];"
      },
      "id": "sc-0013-0013-0013-0013-000000000013",
      "name": "📧 Extraer email /contacto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3120, 200]
    },
    {
      "parameters": {
        "mode": "passThrough",
        "output": "all"
      },
      "id": "sc-0014-0014-0014-0014-000000000014",
      "name": "🔀 Merge resultados",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [3360, 300]
    },
    {
      "parameters": {
        "jsCode": "// Limpieza final antes de guardar en Google Sheets\nconst item = $input.first().json;\n\n// Eliminar campos internos\ndelete item.apiKey;\ndelete item.emails_encontrados;\ndelete item._skip;\n\nreturn [{\n  json: {\n    Ciudad:          item.ciudad || '',\n    Nombre:          item.nombre || '',\n    Dirección:       item.direccion || '',\n    Teléfono:        item.telefono || '',\n    Web:             item.web || '',\n    Email:           item.email || '',\n    'Fuente Email':  item.fuente_email || '',\n    Valoración:      item.valoracion ? String(item.valoracion) : '',\n    'Nº Reseñas':    item.n_resenas ? String(item.n_resenas) : '0',\n    Resumen:         item.resumen || '',\n    'Email enviado': 'No',\n    'Fecha scraping': new Date().toISOString().split('T')[0],\n    Notas:           ''\n  }\n}];"
      },
      "id": "sc-0015-0015-0015-0015-000000000015",
      "name": "🧽 Limpiar datos finales",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3600, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "={{ $vars.GOOGLE_SHEET_ID }}", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Clínicas Dentales", "mode": "name" },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": { "cellFormat": "USER_ENTERED" }
      },
      "id": "sc-0016-0016-0016-0016-000000000016",
      "name": "📊 Google Sheets — Guardar clínica",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [3840, 300],
      "credentials": { "googleSheetsOAuth2Api": { "id": "google-sheets-cred", "name": "Google Sheets" } }
    }
  ],
  "connections": {
    "▶️ Ejecutar manualmente":        { "main": [[{ "node": "⚙️ Configurar búsquedas",          "type": "main", "index": 0 }]] },
    "⚙️ Configurar búsquedas":        { "main": [[{ "node": "🔍 Places Text Search",             "type": "main", "index": 0 }]] },
    "🔍 Places Text Search":          { "main": [[{ "node": "🧹 Extraer y deduplicar lugares",   "type": "main", "index": 0 }]] },
    "🧹 Extraer y deduplicar lugares": { "main": [[{ "node": "🚦 ¿Tiene place_id?",              "type": "main", "index": 0 }]] },
    "🚦 ¿Tiene place_id?":            { "main": [[{ "node": "📋 Places Details API",             "type": "main", "index": 0 }]] },
    "📋 Places Details API":          { "main": [[{ "node": "📝 Normalizar datos del lugar",     "type": "main", "index": 0 }]] },
    "📝 Normalizar datos del lugar":  { "main": [[{ "node": "🌐 ¿Tiene web?",                   "type": "main", "index": 0 }]] },
    "🌐 ¿Tiene web?":                 { "main": [[{ "node": "🌍 Visitar web",                    "type": "main", "index": 0 }]] },
    "🌍 Visitar web":                 { "main": [[{ "node": "📧 Extraer email del HTML",         "type": "main", "index": 0 }]] },
    "📧 Extraer email del HTML":      { "main": [[{ "node": "❓ ¿Falta email?",                  "type": "main", "index": 0 }]] },
    "❓ ¿Falta email?":               { "main": [[{ "node": "📞 Visitar /contacto",              "type": "main", "index": 0 }]] },
    "📞 Visitar /contacto":           { "main": [[{ "node": "📧 Extraer email /contacto",        "type": "main", "index": 0 }]] },
    "📧 Extraer email /contacto":     { "main": [[{ "node": "🔀 Merge resultados",               "type": "main", "index": 0 }]] },
    "📧 Extraer email del HTML":      { "main": [[{ "node": "🔀 Merge resultados",               "type": "main", "index": 1 }]] },
    "🔀 Merge resultados":            { "main": [[{ "node": "🧽 Limpiar datos finales",          "type": "main", "index": 0 }]] },
    "🧽 Limpiar datos finales":       { "main": [[{ "node": "📊 Google Sheets — Guardar clínica","type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "agutidesigns"
  },
  "notes": "## Configuración necesaria\n\n1. **Variables de entorno en n8n** (Settings → Variables):\n   - `GOOGLE_PLACES_KEY` → Tu Google Places API Key\n   - `GOOGLE_SHEET_ID` → ID del Google Sheet (lo ves en la URL: .../spreadsheets/d/[ESTE_ID]/...)\n\n2. **Credenciales** (Settings → Credentials):\n   - `Google Sheets OAuth2` → Conecta tu cuenta de Google\n\n3. **Google Sheet**: Crea una hoja llamada `Clínicas Dentales` con las columnas:\n   Ciudad | Nombre | Dirección | Teléfono | Web | Email | Fuente Email | Valoración | Nº Reseñas | Resumen | Email enviado | Fecha scraping | Notas\n\n4. **Coste estimado**: ~0,003€ por clínica (Places API: $17/1000 req + $5/1000 details)\n\n## Notas legales\nEste workflow recopila datos de contacto públicos de empresas (B2B).\nConforme al RGPD/LSSI-CE, los emails empresariales públicos pueden usarse\npara comunicaciones comerciales relacionadas con la actividad del destinatario,\nsiempre que se ofrezca opt-out en cada comunicación."
}
